.container {
  background-color: rgba(19, 19, 19, 0.534);
  backdrop-filter: blur(10px) saturate(100%);

  width: 90%;
  height: 93%;

  border: 1px rgba(255, 255, 255, 0.164);
  display: flex;
}

@media (max-width: 480px) {
  .container button {
    visibility: hidden;
  }
}
