.container {
  width: 100%;
  height: 100.1%;
}

.container h3 {
  padding-left: 2%;
  background: linear-gradient(to left, transparent, rgb(53, 53, 53));
  border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95.6%;
  background-color: rgba(0, 0, 0, 0.151);
}

.chatMessages::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.301);
  border-radius: 2px;
}

.chatMessages::-webkit-scrollbar-thumb {
  background-color: rgba(110, 110, 110, 0.336);

  border-radius: 10px;
}
.chatMessages.chat::-webkit-scrollbar-button {
  visibility: hidden;
}

.chatMessages::-webkit-scrollbar-button {
  display: hidden;
}

.chatMessages {
  flex: 1;
  overflow-y: scroll;
}

.chatInput {
  width: 100%;
  box-sizing: border-box;
}

.chatInput form {
  display: flex;
}

.chatInput .textInput {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.384);
  border: 1px solid rgb(167, 165, 165);

  font-size: 1rem;
  padding: 0.5rem;
  color: white;
}

.fileInput {
  width: 0;
}

.chatInput label {
  width: 5%;
  border: 1px solid rgb(167, 165, 165);
  background-color: rgba(255, 255, 255, 0.384);

  text-align: center;
  padding: 0.3rem;
  cursor: pointer;
}

.chatInput .fileInput {
  visibility: hidden;
}

.chatInput .fileInput::-webkit-file-upload-button {
  width: 100%;
  height: 100%;
}

.userImg {
  min-width: 70px;
  max-width: 70px;
  min-height: 70px;
  max-height: 70px;
  border: 1px solid goldenrod;
  border-radius: 50%;
  margin: 10px;
}

.friendMessage,
.userMessage {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2%;
}

.friendMessage {
  justify-content: flex-start;
}

.userMessage {
  justify-content: flex-end;
}

.friendMessage img {
  margin-right: 10px;
  max-width: 95%;
}

.userMessage img {
  margin-left: 10px;
  max-width: 95%;
}

.container img:not(.userImg) {
  display: block;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
}

.msgContentFriend,
.msgContentUser {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.msgContentFriend {
  align-items: flex-start;
  background-color: #dad6d6;
}

.msgContentUser {
  align-items: flex-end;
  background-color: #9dd6bd;
}

.date {
  font-size: 0.8rem;
  font-style: italic;
  color: rgb(41, 40, 40);
  margin-bottom: 1rem;
}

.message {
  font-size: 1rem;
  color: #333;
}

.detailsButton {
  background-color: transparent;
  border: none;
  margin-left: 1rem;

  font-size: x-small;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .chat {
    height: 82.8%;
    width: 100%;
  }
  .msgContentFriend,
  .msgContentUser {
    padding: 5px;
    max-width: 69%;
  }

  .msgContentFriend,
  .msgContentUser {
    max-width: 65%;
  }

  .msgContentFriend img,
  .msgContentUser img {
    width: 95%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    height: 45rem;
  }

  .container h3 {
    font-size: 0.9rem;
  }
  .container button {
    font-size: 0.7rem;
  }

  .chatInput label {
    width: 20%;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    height: 45.1rem;
  }

  .container h3 {
    font-size: 0.9rem;
  }
  .container button {
    font-size: 0.7rem;
  }

  .chatInput label {
    width: 20%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    height: 44.5rem;
  }
}
