.container {
  display: flex;
  border: 1px solid gray;
  padding-right: 1rem;
  height: 12%;
}

.container img {
  min-width: 80px;
  min-height: 80px;
  border: 1px solid goldenrod;
  border-radius: 50%;
  margin: 10px;
}

.userInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userInfo p {
  margin: auto;
  font-size: 80%;
}

.userInfo p:nth-child(1) {
  font-size: 100%;
}

.userInfo input {
  background-color: transparent;
  border: none;
  width: 100%;
  margin-bottom: 1%;
  margin-left: 1%;

  text-align: center;
}

.userInfo input::placeholder {
  color: whitesmoke;
  text-align: center;
}

@media (min-width: 769px) and (max-width: 1200px) {
  .container {
    height: 13.5%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .userInfo input {
    font-size: 0.8rem;
    text-overflow: ellipsis;
  }
}

@media (max-width: 480px) {
  .container img {
    min-width: 70px;
    min-height: 60px;
  }

  .userInfo p,
  .userInfo form {
    visibility: hidden;
  }
}
